dd {
    display: inline;
    margin-inline-start: 0;
}

dt {
    display: inline;
    font-weight: bold;
    margin-inline-end: .5em;
}

h3 {
    font-size: 1.5em;
}

#hero {
    height: 800px;
    background-color: #FFF;
    background-image: url("../images/appBackground.PNG");
    background-size: cover; 
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.nav-wrapper{
    position: relative;
}
.container {
    height: 75vh;
}



.big-button {
    height: auto;
    position: relative;
    width: 100%;
}

.big-button:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.big-button-contents {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.exercise {
    border: 3px solid #1cd992;
    border-radius: 6px;
    margin-bottom: 1em;
    padding: 1em;
}

.exercise-instructions {
    list-style-type: decimal;
}

.exercise-stat {
    display: inline-block;
    margin-inline-end: 2em;
}

.exercise-title {
    font-size: 2em;
}

.meal-image-class{
    width: 150px;
    height: 150px;
}

.meal-title-class{
    font-size: 20px;
}

.meal-div-class{
    background: lightblue;
}

.recommendations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.youtube-video {
    margin-left: 1em;
    width: 240px;
    margin-bottom: 20px;
}

.youtube-video-title {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#exercise-areas {
    margin-top: 30px;
}


#exercise-result{
    color: white;
}

#meal-button,
#exercise-button{
    margin-top: 30px;
    border-radius: 10px;
    font-family: 'Black Ops One', cursive;
    font-size: 32px;
    margin-bottom: 30px;
}

body {
    background: #283640;
}

.text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    font-family: 'Black Ops One', cursive;
    font-size: 60px;
    color: #F5967F;
    transform: translateX(-50%) translateY(-50%);
    list-style: none;
    border-bottom: 0;
}


  .text li {
    display: inline-block;
    float: left;
    font-weight: 700;
    /* font-size: 2em; */
    color: #283640;
    opacity: 1;
    transition: all 0.5s;
    max-width: 2em;
  }
  .text.hidden li.spaced {
    padding-left: 0;
  }
  .text li.spaced {
    padding-left: 0.3em;
  }
  
.text.hidden li.ghost {
    opacity: 0;
    max-width: 0;
  }
form{
    color: white;
    margin: 20px;
    font-weight: bold;
}

input {
    color: white;
}

#exercise-areas button {
    background: #1cd992;
    color: #283640;
    border: 1px solid #283640;
    margin-bottom: 50px;
    padding: 5px 0;
    border-radius: 6px;
    font-family: 'Black Ops One', cursive;
    width: 100%;
}
#calorie-result {
    background: #1cd992;
    color: #283640;
    border: 1px solid #283640;
    border-radius: 6px;
    padding: 5px 0;
    width: 100px;
    font-family: 'Black Ops One', cursive;
}
#calorie-result:hover {
    background: #283640;
    color: #1cd992;
    border: 1px solid #1cd992;
}
#exercise-areas button:hover{
    background: #283640;
    color: #1cd992;
    border: 1px solid #1cd992;
}
nav .brand-logo{
    top: 15%;
}

.space {
    margin-right: 60px;
   

}

.meal-div-class {
    background: #283640;
    border: 3px solid #1cd992;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}
.meal-div-class::after {
    content: "";
    display: block;
    clear: both;
  
}


.meal-title-class {
    margin-top: 0;
    color: white;
    font-family: 'Black Ops One', cursive;

}

.meal-image-class {
    width: 200px;
    border-radius: 6px;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.results-div {
    border: 3px solid #1cd992;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
}

#exercise-result h2{
    text-transform: capitalize;
    font-family: 'Black Ops One', cursive;
    margin-top: 0px;
}
.itemRecipeAnchor {
    text-decoration: none;
    color: white;
    border: solid 1px white;
    padding: 10px 75px;
    margin: 10px 0;
    border-radius: 6px;


}
.itemRecipeAnchor:hover {
border: solid 1px #1cd992;
color: #1cd992
}

.brand-logo {
    position: relative;
    width: 100%;
}

.text {
    bottom: 0;
}
.calorie-div-class {
    color: #FFF;
    font-size: 20px;
    margin-bottom: 10px;
}

#enter-age {
    color:red;
    font-size:10px;
}

#enter-weight {
    color:red;
    font-size:10px;
}

#enter-height{
    color:red;
    font-size:10px;
}
/*Media Query*/
@media only screen and (max-width: 1200px) {
    .brand-logo {
        left: 25%;
    }
}

@media only screen and (max-width: 768px) {
    .text li {
        font-size: 45px;
    }
}

@media only screen and (max-width: 600px) {
    .nav-wrapper {
        background: #283640;
        background-image: url(../images/appBackground.PNG);
        border: none;
    }
    .space {
        margin-right: 30px;
        width: 10px;
    }
    .text li {
        font-size: 25px;
    }
}
